h1,
h2 {
  font-family: serif;
}
h1 {
  color: #b06600;
}
h2 {
  color: #938c00;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.recent {
  text-align: center;
}
thead {
  position: sticky;
  top: 0;
}
.main tbody tr:nth-child(4n + 1),
.main tbody tr:nth-child(4n + 2),
tr.shaded {
  background-color: #e0e0e0;
}
thead tr {
  background-color: #fff;
}
th,
td {
  font-family: sans-serif;
  padding: 0.5em;
}
th {
  background-color: #938c00;
}
th,
th > a {
  color: #fff;
}
td, a {
  color: #563c00;
}
.total,
.total td {
  color: #d99f00;
}
.count {
  text-align: right;
}
.text {
  text-align: left;
}
.b11 {
  background-color: #a1d6ea;
}
.b21 {
  background-color: #c0d034;
}
.b50 {
  background-color: #f7a422;
}
.b100 {
  background-color: #7f7f7f;
}
.s10 {
  background-color: #b1b1b1;
}
.s25 {
  background-color: #3e3e78;
}
.s50 {
  background-color: #dc2829;
}
.s100 {
  background-color: #191919;
}
.s250 {
  background-color: #508386;
}
.s500 {
  background-color: #1793c7;
}
td.b11,
td.b21,
td.b50,
td.b100,
td.s10,
td.s25,
td.s50,
td.s100,
td.s250,
td.s500 {
  color: #fff;
}
.overline {
  border-top: 1px solid black;
}
button {
  background-color: #938c00;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0.5em;
}
button:hover {
  background-color: #7e7707;
}
